<div class="container-fluid">
  <form [formGroup]="registrationForm" (ngSubmit)="login()">
    
    

    <div class="form-group">
      <label>Name</label>
      <input  formControlName="userName" type="text" class="form-control">
      <div class="alert alert-danger" *ngIf="UserName.touched && !UserName.valid" >
          <div *ngIf="UserName.errors?.required">Username is required</div>
          <div *ngIf="UserName.errors?.minlength">minimum lenth is required</div>
          <div *ngIf="UserName.errors?.cannotContainSpace">cannot contain space</div>
      </div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input formControlName="email"  type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="Email.touched && !Email.valid" >
            <div *ngIf="Email.errors?.required">Email is required</div>
            <div *ngIf="Email.errors?.pattern">pattern does not match</div>
        </div>
    </div>
    <div class="form-group">
        <label>phone no</label>
        <input formControlName="phone" type="number" class="form-control">
        <div class="alert alert-danger" *ngIf="Phone.touched && !Phone.valid" >
            <div *ngIf="Phone.errors?.required">Phone no  is required</div>
            <div *ngIf="Phone.errors?.pattern">Enter valid phone number</div>
        </div>
    </div>
    <div class="form-group">
        <label>password</label>
        <input formControlName="password" type="password" class="form-control">
        <div class="alert alert-danger" *ngIf="Password.touched && !Password.valid" >
          <div *ngIf="Password.errors?.required">Phone no  is required</div>
      </div>
    </div>
    <div class="form-group">
        <label>confirm Password</label>
        <input formControlName="confirmPassword"  type="password" class="form-control"> 
    </div>
    <div formGroupName="address">
        <div class="form-group">
            <label>city</label>
            <input  formControlName="city" type="text" class="form-control">
        </div>
          <div class="form-group">
              <label>State</label>
              <input formControlName="state" type="text" class="form-control">
          </div>
          <div class="form-group">
              <label>Postal code</label>
              <input formControlName="postalCode" class="form-control">
          </div>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select formControlName="category" class="form-control">
          <option value="Select"></option>
          <option *ngFor="let c of category" [value]="c.id">{{ c.name }}</option>
        </select>
    </div>
    <div class="radio">
      <label>
        <input formControlName="gender" type="radio"  value="1">
        female
      </label>
    </div>
    <div class="radio">
        <label>
          <input formControlName="gender" type="radio"  value="2">
          male
        </label>
      </div>
    <div class="checkbox">
            <label>
              <input formControlName="notification" type="checkbox">
              send me notifications
            </label>

    </div>
    <div *ngIf="!registrationForm.valid && registrationForm.errors" class="alert alert-danger">
        <div *ngIf="UserName.errors?.required">Username is required</div>
        <div *ngIf="Email.errors?.required">Email is required</div>
        <div *ngIf="Phone.errors?.required">Phone no  is required</div>

    </div>


    <button type="submit" class="btn btn-primary" >Register</button>
    <!-- <button (click)="loadapi()" class="btn btn-primary">load the data</button> -->
  </form>
  {{registrationForm.value | json}}
</div>